<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

<div class="show_case">
<img src="/assets/shaking.jpg" width="100%">
</div>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero_unit intro" z-index="99">
	<div class="row">
	  <div class="span4"></div>
	  <div class="span12"><h1 style="padding:20px; color:white">iSpraker, Explore the crowd</h1></span>
</div>

<div id="phones" class="phones">
	<img src="/assets/Android.png" />
</div>

