/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require twitter/bootstrap
*/

body{
	background-color: black;
}

div.background{
	position:relative;
	left:0;
	right:100%;
}

div.intro{
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 2;
	color: white;
	
}

div#propaganda{
	position: absolute;
	top: 10px;
	right: 10px;
}

#fb_bar{
	position: absolute;
	top:0px;
	right:0px;
	height: 30px;
	background-color: white;
}

a.brand{
	font-size: 40pt;
}

a.visited{
	color:white;
}

.primary{
	width: 50px;
	text-align: center;
}


div.phones{
	position: absolute;
	top: 300px;
	left: 300px;
}


.nav
{
	display: block;
}

.nav ul
{
	padding-top: 50px;
	padding-left:0px;
	margin: 0 auto;
	text-align: center;
}

.nav ul li
{
	display: inline;
	padding:0px;
	margin: 40px 5px 20px 5px;
	font-size:18px;
	list-style:none outside none;

}

.nav ul li a{
	text-decoration:none;
	color:#CCC;
	padding:10px;
}

#footer .nav ul li a:hover{
	color:#FFF;
	background-color:rgba(0,0,0,0.4);
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.4),0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.4),0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.4),0 1px 0 rgba(255, 255, 255, 0.1);
}

#legal p
{
	color: #444;
	font-size: 13px;
	text-align: center;
}

#legal a
{
	color: #444;
}
